@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @foreach (var animal in ViewBag.animals)
    {
        <div class="carte">
            <div class="carte-text">
                <p>
                    <h4> name: </h4> @animal.name <br/>
                    <h4> type : </h4> @animal.type  <br/>
                     <h4> age :</h4> @animal.age  <br />

                </p>
            </div>
        </div>
    }
</div>

<div class="container">
    @foreach (var user in ViewBag.users)
    {
        <div class="carte">
            <div class="carte-text">
                <p>
                    <h4> name: </h4> @user.name <br />
                    <h4> type : </h4> @user.surname  <br/>
                    <h4> age :</h4> @user.age  <br />

                </p>
            </div>
        </div>
    }
</div>
