@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<h2>Search</h2>

@using (Html.BeginForm("Adopt", "Adopting", FormMethod.Post))
{<span></span>
    <br />
    int animalId;
    string animalName;
    string date;
    int userId;
    string userName;
    string userSurname;
    string userAdress;
    string userProfession;
    string userFamily_situation;
    int userAge;
    string remarks;
    <span>Enter Your Animal Id :</span> @Html.TextBox("animalId")
    <br />
    <span>Enter Your  animal Name : </span>@Html.TextBox("animalName")
    <br />
    <span>Enter Your Name : </span>@Html.TextBox("userName")
    <br />
    <span>Enter Your SurName : </span>@Html.TextBox("userSurname")
    <br />
    <span>Enter Your Adress: </span>@Html.TextBox("userAdress")
    <br />
    <span>Enter Your Profession: </span>@Html.TextBox("userProfession")
    <br />
    <span>Enter Your Family Situation: </span>@Html.TextBox("userFamily_situation")
    <br />
    <span>Enter Your Age: </span>@Html.TextBox("userAge")
    <br />
    <span>Enter Your remarks : </span>@Html.TextBox("remarks")
    <br />


    <input id="Submit" type="submit" value="Submit " />
}