@{
    ViewData["Title"] = "Home Page";
}

@{
    var message = ViewBag.message;
    if (@message != null)
    {   
      
        <div class="alert alert-warning" role="alert">
            @message
        </div>
    }
}

<head>
    <link rel="stylesheet" href="~/css/catalogue.css" />


</head>


<div class="catalogue-container">
    @foreach (var animal in ViewBag.animals)
    {

        <div class="carte"
         onclick="@("window.location.href='" + @Url.Action("ViewAnimal", "Catalogue", new {id = animal.Id}) +"'");">
            
            <div class="carte-text">
                <img src=@(animal.Image.Contains("http") ? animal.Image : "images/" +animal.Image) alt=@animal.Name>


                <div class="info">
                    <h3 class="animal-name"> @animal.Name </h3>
                    <h4 class="animal-breed"> @animal.Breed  </h4>  
                    <h5 class="animal-adress"> @animal.Adress </h5>   

                </div>
           </div>
        </div>

    }
</div>
<div class="carte">
    @{
        string path = "1200px-Beagle_Faraon_0f81.jpg";

    }
    <img src="" alt='1200px-Beagle_Faraon_0f81.jpg'>
    <div class="carte-text">
        <p>
            <h4> name: </h4> Name <br />


        </p>

    </div>
</div>

     }
</div>
