@{
    ViewData["Title"] = "Home Page";
}
@{
    var message = ViewBag.message;
    if (@message != null)
    {   
      
        <div class="alert alert-warning" role="alert">
            @message
        </div>
    }
}

<div class="container">
    @foreach (var animal in ViewBag.animals)
    {
        <div class="carte">
            @{

                var image = @animal.Image.Contains("http") ? @animal.Image : "/images/" + @animal.Image;
            }
            <img src=@(animal.Image.Contains("http") ? animal.Image : "images/" +animal.Image) alt=@image>
            <div class="carte-text">
                <p>
                    <h4> name: </h4> @animal.Name <br />
                    <h4> type : </h4> @animal.Type  <br />
                    <h4> gender :</h4> @animal.Gender  <br />

                </p>
                <a href="/animal/@animal.Id"> View more </a>

            </div>
        </div>
    }
</div>
<div class="carte">
    @{
        string path = "1200px-Beagle_Faraon_0f81.jpg";

    }
    <img src="" alt='1200px-Beagle_Faraon_0f81.jpg'>
    <div class="carte-text">
        <p>
            <h4> name: </h4> Name <br />


        </p>

    </div>
</div>